      //vendors
      $vendors: "-webkit",
      "-moz-",
      "-o-",
      "";
      //layout
      $auto-margin: 0 auto;
      //colors & BGcolors
      $orange: #FF9900;
      $milk: #FFF9F7;
      $light-organe: #FCEAD4;
      $white: #fff;
      $black: #333;
      $grey: #E8E8E8;
      $dark-blue: #133B4F;
      $priper: #d01b34;
      $addToCardBtn: #50b12f;
      $light-priper: #EAE6FF;
      //fonts
      $play: "Play";
      $lato: 'Lato';
      //imgs Sources
      $priperBG: url("../img/priperBG.svg");
      $aboutBG: url("../img/about.svg")