<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" *ngFor="let product of products">
                <div class="card text-center mb-3 pt-3">
                    <img src="{{product.imgPath}}" class="card-img-top img-fluid w-50" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" (click)='viewDetails(product)'>{{product.name}}</h5>
                        <p class="card-text">${{product.price}}</p>
                        <button class="btn btn-success" (click)='AddToCart(product)'>ِAdd to Cart <i class="fas fa-shopping-cart"></i></button>
                        <!-- <button class="btn btn-danger" (click)='removeFromCart(product)'>ِRemove<i class="fas fa-trash"></i></button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
