<section id="home" class="py-5">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-12 order-sm-1 order-1 order-md-1 order-lg-0 order-xl-0">
                        <h2>Welcome to On Market</h2>
                        <p class="mt-3 mb-5 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quaerat corrupti fuga veritatis voluptate incidunt aliquam eos at. In omnis facere optio maxime iste mollitia aut porro aliquid, laboriosam enim?</p>
                        <button class="btn btn-primary" routerLink='/shop'>Go Shopping</button>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img src="../../assets/img/marketing.svg" class="img-fluid w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="py-5 mt-2">
        <div class="container">
            <div class="container-fluid">
                <div class="section-text text-center mb-5">
                    <h3>About Us</h3>
                    <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptates magni laudantium optio cupiditate minima.</p>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="card text-center pt-3">
                            <img src="../../assets/img/m-1.svg" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card text-center pt-3">
                            <img src="../../assets/img/m-2.svg" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card text-center pt-3">
                            <img src="../../assets/img/m-3.svg" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    