<footer class="py-5">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-3">
                    <h3>Top Products</h3>
                    <ul>
                        <li>
                            <a href="#">Shoes</a>
                        </li>
                        <li>
                            <a href="#">T-Shirts</a>
                        </li>
                        <li>
                            <a href="#">Shirts</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-3">
                    <h3>NewSletter</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <input class="form-control" type="text" placeholder="your email address">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-3">
                    <h3>Contact Us</h3>
                    <p>New Hampshare 5</p>
                    <p>Icecream@sc.com</p>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter mx-3"></i>
                    <i class="fab fa-instagram mr-3"></i>
                    <i class="fab fa-google-plus-g"></i>
                </div>
            </div>
        </div>
    </div>
</footer>